*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
}

.page_404
{
    padding: 40px 0;
    background: #fff;
    font-family: 'Poppins';
}

.page_404 img
{
    width: 100%;
}

.four_zero_four_bg
{
    background: url('../img/pagenotfound/404-2.svg');
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
}

h1
{
    font-size: 80px;
}

h3
{
    font-size: 80px;
}

a
{
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    background: #13c144;
    display: inline-block;
}

.content_box_404
{
    margin-top: 50px;
}
a:hover
{
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #13c144;
    color: #000;
}